
    <ul>

        {% for sharedExperience in sharedExperiences %}
            <li>
                <div class="media-left">
                    <i class="fa fa-book"></i>
                </div>
                <div class="media-body">
                    <a href="{{ path('commentsharedexperience_show') }}">
                        <h4 class="media-heading">{{ sharedExperience.title }}</h4></a>
                    <p>{{ sharedExperience.description[:50] }}...</p>
                </div>
            </li>
        {% endfor %}
    </ul>